# Magento 2 specific
/app/code/*
!/app/code/.gitkeep
/app/design/*
!/app/design/.gitkeep
/var/*
!/var/.htaccess
/pub/media/*
!/pub/media/.htaccess
/pub/static/*
!/pub/static/.htaccess
/generated/*
/vendor/*
/node_modules/*
/dev/tests/acceptance/.env
/dev/tests/acceptance/output/*
/dev/tests/acceptance/screenshots/*
/dev/tests/acceptance/tmp/*
/dev/tests/integration/tmp/*
/dev/tests/integration/_files/tmp/*
/dev/tests/static/tmp/*
/dev/tests/unit/tmp/*
/phpserver/*
/*.log
/.idea
/.vscode
/.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.cache
composer.lock
.env