<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Block\Onepage\Success" type="Ipag\Payment\Block\Success"/>
    <type name="Ipag\Payment\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Ipag\Payment\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ipagLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Ipag\Payment\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Ipag\Payment\Factory\HelperFactory">
        <arguments>
            <argument name="v1Factory" xsi:type="object">Ipag\Payment\Helper\DataFactory</argument>
            <argument name="v2Factory" xsi:type="object">Ipag\Payment\Helper\V2\DataFactory</argument>
        </arguments>
    </type>
    <type name="Ipag\Payment\Factory\CcFactory">
        <arguments>
            <argument name="v2Factory" xsi:type="object">Ipag\Payment\Model\Method\V2\CcFactory</argument>
            <argument name="v1Factory" xsi:type="object">Ipag\Payment\Model\Method\CcFactory</argument>
        </arguments>
    </type>
    <type name="Ipag\Payment\Factory\PixFactory">
        <arguments>
            <argument name="v2Factory" xsi:type="object">Ipag\Payment\Model\Method\V2\PixFactory</argument>
            <argument name="v1Factory" xsi:type="object">Ipag\Payment\Model\Method\PixFactory</argument>
        </arguments>
    </type>
    <!-- Note: helper provider is injected into the switcher; individual method classes do not require it here -->
</config>